#app {
    height: 100vh;
    text-align: center;
}

table.sticky-header th {
    position: sticky;
    top: 0;  /* 0px if you don't have a navbar, but something is required */
    background: white;
}