html {
    background-color: rgba(27, 38, 54, 1);
    text-align: center;
    color: white;
}

/*
    No scrolling root element
 */
html {
    margin: 0;
    height: 100%;
    overflow: hidden
}

body {
    margin: 0;
    color: white;
    font-family: "Tahoma", "Geneva", "sans-serif" !important;
}

#app {
    height: 100vh;
    text-align: center;
}
